<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Robot Soccer</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    {% block head %} {% endblock %}
  </head>
  <body>
    <table width=100%><tr><td align=left><h1>Robot Soccer</h1></td>
    <td align=right>{{ user.nickname() }} <a href="{{ logout_url }}">logout</a></td>
    </tr></table>
    <hr>
    <table><tr><td width=15% valign='top' style="border-right: 1px solid black; padding: 5px;">
      <a href="/">Home</a><br>
      <a href="/tutorial">Tutorial</a><br>
      <a href="/list_robots">List Robots</a><br>
      <a href="/new_robot">New Robot</a><br>
      <a href="/select_team">Play Game</a><br>
    </td>
    <td valign='top' width=85%>{% block body %} {% endblock %}</td>
    </tr></table>
  </body>
</html>
{% endautoescape %}
