{% extends 'base.html' %}
{% block body %}
  <style type="text/css">
  </style>
  {% set game_width = 500 %}
  {% set game_height = 300 %}
  <svg id=soccer_field width={{ game_width }} height={{ game_height }} 
       style="background-color:white;">

    <rect x=20 y=130 height=40 width=10 id=redgoal fill=red />
    <rect x=460 y=130 height=40 width=10 id=bluegoal fill=blue />

    <text x=50 y=50 id='R1'>R1</text>
    <text x=50 y=150 id='R2'>R2</text>
    <text x=50 y=250 id='R3'>R3</text>

    <text x=430 y=50 id='B1'>B1</text>
    <text x=430 y=150 id='B2'>B2</text>
    <text x=430 y=250 id='B3'>B3</text>
    
    <text x=244 y=150 id='O'>O</text>
  </svg><br/>
  <script>
    {% include 'robot.js' %}
  </script>
  <script>
    // TODO: hide this all under a function: Game()
    // Maximum of 3 minutes per game
    var max_millis_per_game = 1000 * 60 * 3;
    var millis_per_update = 200;
    var timer_millis = 0;
    var timer_tick = 0;
    var interval_timer;
    {% for p in robots %}
      Robot.{{ p }} = new Robot('{{ p }}');
    {% endfor %}
    function updateAll() {
      console.log(timer_tick);
      Robot.R1.update();
      Robot.B1.update();
      Robot.R2.update();
      Robot.B2.update();
      Robot.R3.update();
      Robot.B3.update();
      checkWin();
      updateTimer();
    }
    function updateTimer() {
      timer_millis = timer_millis + millis_per_update;
      timer_tick = timer_tick + 1;
      if (timer_millis > max_millis_per_game) {
        stopGame("Game timed out.");
      }
    }
    interval_timer = setInterval(updateAll, millis_per_update);
    function stopGame(message) {
      clearInterval(interval_timer);
      console.log(message);
      console.log("game stopped.");
      alert(message);
    }
    function checkWin() {
      if (BoxesIntersect(BALL.o.getBBox(), Goal.red.o.getBBox())) {
        stopGame("Blue Wins!");
        return;
      }
      if (BoxesIntersect(BALL.o.getBBox(), Goal.blue.o.getBBox())) {
        stopGame("Red Wins!");
      }
    }
  </script>
  {% for p in robots %}
    <script>
      Robot.{{ p }}.update = function() {
        {% autoescape false %}
          {{ robots[p].program }}
        {% endautoescape %}
      }
    </script>
  {% endfor %}
  Robots:<br/>
  {% for p in robots %}
    {{ p }} {{ robots[p].player_name }}<br/>
  {% endfor %}
{% endblock body %}
